<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.bookkeepingproto2" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name=".PrivateHouseKeeping.WidgetTest.MyCustomWidget" android:label="YUMJI widget test">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_configuration" />
        </receiver>

        <activity
            android:name=".LoginTest.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GroupHouseKeeping.CreateGroupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GroupHouseKeeping.GroupListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".GroupHouseKeeping.GroupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginTest.SigninActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.CalendarTest.CalendarActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginTest.SelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.InputTest.InputActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.InputTest.InsertResultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.SpeechTest.SpeechTestActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.WidgetTest.UpperLimitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.WidgetTest.NewLimitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".PrivateHouseKeeping.ConfirmTest.ConfirmActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OCR.abbyy.ocrsdk.android.OCRActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OCR.abbyy.ocrsdk.android.OCRResultsActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
